name: continuous-integration

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  lint:
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
      fail-fast: true
    runs-on: ${{ matrix.os }}
    name: ${{ format('Linting-{0}', matrix.os )}}
    steps:
      - uses: actions/checkout@v3
      - uses: wntrblm/nox@2023.04.22
        with:
          python-versions: "3.11"
      - run: pipx install poetry
      - run: nox -s lint

  test:
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
      fail-fast: true
    runs-on: ${{ matrix.os }}
    name: ${{ format('Testing-{0}', matrix.os )}}
    steps:
      - uses: actions/checkout@v3
      - run: pipx install poetry
      - uses: wntrblm/nox@2023.04.22
        with:
          python-versions: "3.9, 3.10, 3.11"
      - run: nox -s test
