name: continuous-integration

on:
  push:
    branches: [main]

  pull_request:
    branches: [main]

jobs:
  lint:
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
      fail-fast: true
    runs-on: ${{ matrix.os }}
    name: ${{ format('Linting-{0}', matrix.os )}}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - run: pipx install poetry
      - run: nox -s lint

  test:
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        python-version: [3.9, 3.10, 3.11]
      fail-fast: true
    runs-on: ${{ matrix.os }}
    name: ${{ format('Testing-{0}-{1}', matrix.os, matrix.python-version )}}
    steps:
      - uses: actions/checkout@v2
      - run: pipx install poetry
      - uses: actions/setup-python@v4
        with:
          python-version: ${{matrix.python-version}}
      - run: nox -s test
