name: continuous-testing

on:
  push:
    branches: [main]

  pull_request:
    branches: [main]

jobs:
  check-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: excitedleigh/setup-nox@v2.0.0
      - run: pipx install poetry
      - run: nox

  check-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: excitedleigh/setup-nox@v2.0.0
      - run: pipx install poetry
      - run: nox

  check-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: excitedleigh/setup-nox@v2.0.0
      - run: pipx install poetry
      - run: nox
